/* Font */

@font-face {
  font-family: scout;
  src: url(./font/Scout-Regular.otf);
}


.sidebar-container {
  position: relative;
  width: 400px;
  height: 100vh;
  float: left;
  background: #fff;
}

.main-container {
  position: relative;
  width: calc(100% - 400px);
  height: 100vh;
  float: left;
  background:#354c46;
}


/* Sidebar */

.sidebar-header-container {
  margin: 0 auto;
  width: 85%;
  height: 150px;
  border-bottom: 1px solid #f5f4f2;
  text-align: center;
}

.sidebar-header-container img {
    width: 75%;
    max-width: 275px;
    padding-top: calc(104px - 52px);
}

.sidebar-list-container{
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 85%;
    padding: 5% 0%;
    height: calc(100vh - 190px);
}

.sidebar-list{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


/* Sidebar links*/

.select-phone{
    width: 100%;
    padding: 5% 0%;
    border-bottom: 1px solid #f5f4f2;
    font-family: scout;
    font-size: 20px;
    color: #39ba96;
    text-decoration: none;
    cursor: pointer;
}

.select-phone:hover, a:active{
  color: #000;
}

